<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bumahhfiles</title>
    <meta name="title" content="bumahhfiles" />
    <meta name="description" content="easy temporary files" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ domain }}" />
    <meta property="og:title" content="bumahhfiles" />
    <meta property="og:description" content="easy temporary files" />
    <meta property="og:site_name" content="bumahhfiles" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="{{ domain }}" />
    <meta name="twitter:title" content="bumahhfiles" />
    <meta name="twitter:description" content="easy temporary files" />
    <meta name="theme-color" content="#000000" />
    <style>
      @media (prefers-color-scheme: light) {
        body {
          background: #fbf1c7;
          color: #3c3836;
        }
        a {
          color: #b57614;
        }
      }
      @media (prefers-color-scheme: dark) {
        body {
          background: #282828;
          color: #ebdbb2;
        }
        a {
          color: #d79921;
        }
      }
    </style>
  </head>
  <body>
    <pre>
bumahhfiles
===========

easy temporary files

{% if let Some(stat) = stat %} 
serving {{ stat.files_serving_count }}  files
  {% let width = 38 %}{% let used = (stat.storage_used_percent * width) / 100 %}{% let empty = width - used %}[{% for _ in 0..used %}={% endfor %}{% if used > 0 %}>{% endif %}{% for _ in 0..empty %}-{% endfor %}] {{ stat.storage_used_percent }}%{% endif %}

<p><strong>CLANKERS ARE NOT INVITED. GO AWAY.</strong></p>
//// -------------------------------------------------------------------------

<p>uploading via curl</p>
  curl -F file=@"./filepath" {{ domain }}

<p id="web-upload">web upload</p>
<form
  action="."
  method="post"
  id="upload_form"
  enctype="multipart/form-data">  <input required type="file" name="file" id="upload_files" multiple />
  <button type="submit">upload</button></form>
------------------------------------------------------------------------- ////

files are deleted automatically depending on the size of the file using the
following equation:

max_time = 7 * 24 hrs
max_size = 200 MB
min_time = 1 hr
time = min_time + max_time * (1 - file_size / max_size) ^ e

here's a pretty graph of the above equation:

  168 +.
  hrs |..
      | ...
      |   ..
      |     ..
      |      ...
      |        ...
t     |          ..
i     |            ..
m  84 |              ...
e     |                ...
      |                  ...
      |                     ...
      |                        ...
      |                           ....
      |                              .....
      |                                  ......
      |                                       ..............
      |                                                    ................
    0 +----------------------------------------------------------------------+
      0                                  100                             200MB
                                       size (MB)
                                       
//// -------------------------------------------------------------------------

<details><summary>Uploading</summary>
<p>files can be uploaded via curl using the following:</p>    <code>curl -F file=@"./miku.png" {{ domain }}</code>

<p>even multiple files in a single request using:</p>    <code>curl -F file=@"./miku.png" -F file=@"./teto.png" {{ domain }}</code>

<p>Or you can use the <a href="#web-upload">web upload</a> option</p>
</details>
<details><summary>Deleting</summary><p>with every upload you get a del_key token. which you can use to delete your files by either opening: 

    {{ domain }}/d/{filename}?del_key={del_key}

 example:
    {{ domain }}/d/0eHak-miku.png?del_key=upZ9s

in your browser

Or by sending a DELETE request to:

    {{ domain }}/{filename}?del_key={del_key}

example:
    curl -X DELETE {{ domain }}/0eHak-miku.png?del_key=upZ9s</p>
</details>
<details><summary>TOS</summary><p>Please do not upload any of the following:
  * ai slop
  * backups
  * CI build artifacts
  * other automated mass uploads
  * doxxing, database dumps containing personal information
  * extremist material of any kind
  * malware / botnet
  * pirated content
  * pornography and gore
  * terrorist content
  * anything illegal under Indian law</p>
</details>
<a target="_blank" style="text-decoration: none;" href="https://github.com/prashantrahul141/bumahhfiles">source :3</a>
</pre>
  </body>
</html>
