<!doctype html>
<tml lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bumahhfiles</title>
  </head>

  <body>
    <pre>
bumahhfiles
===========

easy temporary files

<strong>CLANKERS ARE NOT INVITED. GO AWAY.</strong>

//// -------------------------------------------------------------------------

<p>uploading via curl</p>
  curl -F file=@"./filepath" {{ domain }}

<p id="web-upload">web upload</p>
<form
  action="."
  method="post"
  id="upload_form"
  enctype="multipart/form-data">  <input type="file" name="file" id="upload_files" multiple />
  <button type="submit">upload</button></form>
------------------------------------------------------------------------- ////

Files are deleted automatically depending on the size of the file using the
following equation:

max_time = 7 * 24 hrs
max_size = 200 MB
time = max_time * (1 - file_size / max_size) ^ e

here's a pretty graph of the above equation:

  168 +.
  hrs |..
      | ...
      |   ..
      |     ..
      |      ...
      |        ...
t     |          ..
i     |            ..
m  84 |              ...
e     |                ...
      |                  ...
      |                     ...
      |                        ...
      |                           ....
      |                              .....
      |                                  ......
      |                                       ..............
      |                                                    ................
    0 +----------------------------------------------------------------------+
      0                                  100                             200MB
                                       size (MB)
                                       
//// -------------------------------------------------------------------------

<details><summary>Uploading</summary>
<p>Files can be uploaded via curl using the following:</p>    <code>curl -F file=@"./miku.png" {{ domain }}</code>

<p>even multiple files in a single request using:</p>    <code>curl -F file=@"./miku.png" -F file=@"./teto.png" {{ domain }}</code>

<p>Or you can use <a href="#web-upload">web upload option</a></p>
</details>
<details><summary>Deleting</summary><p>With every upload you get a del_key. Which you can use to delete your files by either opening: 

    {{ domain }}/d/{filename}?del_key={del_key}

 example:
    {{ domain }}/d/0eHak-miku.png?del_key=upZ9s

in your browser

Or by sending a DELETE request to:

    {{ domain }}/{filename}?del_key={del_key}

example:
    curl -X DELETE {{ domain }}/0eHak-miku.png?del_key=upZ9s</p>
</details>
<details><summary>TOS</summary><p>Please do not upload any of the following:
  * ai slop
  * backups
  * CI build artifacts
  * other automated mass uploads
  * doxxing, database dumps containing personal information
  * extremist material of any kind
  * malware / botnet
  * pirated content
  * pornography and gore
  * terrorist content
  * anything illegal under Indian law</p>
</details>
<a target="_blank" style="text-decoration: none;" href="https://github.com/prashantrahul141/bumahhfiles">source :3</a>
</pre>
</body>
</html>
